@include breakpoint(medium) {
  .header .nav-bar {
    padding: 10px 0;

    .title {
      margin-top: 10px;

      h1.title { font-size: 2em; }
      .cargo { font-size: 1.7em; }
    }

    .menu-btn { margin-top: 30px; }
  }

  .content {
    .bienvenida {
      margin-bottom: 70px;

      .title { font-size: 6.625em; }
    }
    .programas {
      padding-bottom: 45px;
      margin-bottom: 50px;

      .title h3 { font-size: 3em; }
    }
  }

  .contacto .header {
    margin-bottom: 60px;

    .nav-bar {
      .title {
        h1.title { font-size: 2em; }
        .cargo { font-size: 1.7em; }
      }

      .menu-btn { margin-top: 25px; }
    }
  }
}
