//  Foundation for Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Colors
//   2. Fonts

// 1. Colors
// ------------

$blue-color: #29abe2;
$light-blue: #cbeefb;

// 2. Fonts
// ------------

$muli-bold: Muli-Bold;
$muli-extrabold: Muli-ExtraBold;
$muli-light: Muli-Light;
$muli-regular: Muli-Regular;
$paytone-one: PaytoneOne;
