.content {
  margin-bottom: 20px;

  .bienvenida {
    margin-bottom: 20px;

    .title {
      color: $secondary-color;
      font: 5.625em $paytone-one;
    }

    .saludo p {
      margin-bottom: 0;
      font-size: .875em;
    }
  }

  .programas {
    margin-bottom: 30px;
    padding: 30px 0;
    background-color: $secondary-color;

    .title h3 {
      margin-bottom: 20px;
      color: $white;
      font: 2.438em $paytone-one;
    }

    .programa {
      margin-bottom: 15px;
      height: 105px;
      color: transparent;

      &.ai { background: url('../images/ai.svg') no-repeat center/contain; }
      &.ps { background: url('../images/ps.svg') no-repeat center/contain; }
      &.id { background: url('../images/id.svg') no-repeat center/contain; }
      &.fl { background: url('../images/fl.svg') no-repeat center/contain; }
      &.dw { background: url('../images/dw.svg') no-repeat center/contain; }
      &.css3 { background: url('../images/css3.svg') no-repeat center/contain; }
      &.html5 { background: url('../images/html5.svg') no-repeat center/contain; }
      &.fw { background: url('../images/fw.svg') no-repeat center/contain; }
      &.ae { background: url('../images/ae.svg') no-repeat center/contain; }
      &.pr { background: url('../images/pr.svg') no-repeat center/contain; }

      &:nth-child(9),
      &:last-child { margin-bottom: 0; }
    }
  }

  .frm-contacto {
    h3.title {
      color: $blue-color;
      text-align: center;
      font-size: .875em;
    }

    .inputs-group {
      input[type=text],
      textarea {
        padding: .5rem 1.2rem;
        border-radius: 10px;
        background: $light-gray;
      }

      textarea { resize: none}

      .help-text { color: $body-font-color; }

      button[type=button] {
        padding: 0.6em 1em;
        border-radius: 10px;
        font: .875em $muli-bold;
      }
    }
  }
}
