.header {
  .nav-bar {
    margin-bottom: 20px;
    padding: 19px 0;
    background-color: $primary-color;

    .title {
      color: $white;

      h1.title {
        margin-bottom: 0;
        font: 1.1375em $muli-extrabold;
      }

      .cargo {
        margin-top: -5px;
        font: 1.188em $muli-light;
      }
    }

    .menu-btn {
      p {
        margin: 0;

        span {
          display: inline-block;
          margin: 0;
          width: 100%;
          height: 46px;
          background: url('../images/menu-btn.svg') no-repeat center/contain;
          text-indent: -9999px;
          cursor: pointer;

          &:hover { background: url('../images/menu-btn-hover.svg') no-repeat center/contain; }
        }
      }
    }
  }
}
