.menu-off-canvas {
  .menu-btn-cerrar {
    display: inline-block;
    float: right;
    margin: 0;
    width: 20%;
    height: 46px;
    background: url('../images/menu-close.svg') no-repeat center/contain;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 7%;
    width: 100%;

    li {
      a {
        padding-left: 16.66666%;
        outline: none;
        color: $body-font-color;
        font-size: 1em;
        transition: all .3s;

        &:hover,
        &:active {
          background-color: $light-blue;
          color: $blue-color;
          font-family: $muli-bold;
        }
      }
    }
  }

  .footer-menu {
    position: absolute;
    bottom: 0;
    width: 100%;

    &, a { color: $body-font-color; }

    .redes,
    .info { margin-bottom: 10px; }
  }
}
